<!DOCTYPE html>
<html>
    <head>
        <tile><%= title %></tile>
    </head>
    <body>
        <% if(userFullName){ %>
            <h2>Hello <%= userFullName %></h2>
            <a href="/signout">Sign out</a>
        <% } else { %>
                <a href = "/signup">Signup</a>
                <a href = "/signin">Signin</a>
        <% } %>
        <br>
        <img src="img/corvette.jpg" width="900" height="550">
    </body>
</html>